    content: '';
    position: absolute;
    width: 250%; height: 250%;
    background: conic-gradient(from 0deg, transparent, transparent, #FFD700);
    animation: rotate-glow 4s linear infinite;
    z-index: 0;
}

/* 3. SHIELD MAI RUFE HASKEN (Zai maida cikin box din fari fes) */
.box-content {
    position: absolute;
    /* Wannan zai tilasta shi ya rufe saman sosai */
    top: 2px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    
    background: #ffffff !important; 
    border-radius: 20px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    /* Kara wannan don goge duk wata inuwa */
    border: none;
    box-shadow: none;
}
        
/* Wannan zai tabbatar hoton bai bar komai ba a gefe */
.display-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}

/* 4. GYARAN DISPLAY AREA DA BUTTON */
.display-area { flex: 1; position: relative; width: 100%; z-index: 2; }

.category-btn {
    background: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    font-size: 10px;
    font-weight: 800;
    width: 100%;
    border: none;
    z-index: 5;
    position: relative;
}

@keyframes rotate-glow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
   .category-scroller {
    display: flex;
    overflow-x: auto;
    padding: 15px 10px;
    gap: 20px;
    scrollbar-width: none; /* Boye scrollbar na PC */
}

.category-scroller::-webkit-scrollbar { display: none; } /* Boye scrollbar na Wayar */

.cat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    cursor: pointer;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border: 1px solid #E0D7C6;
    margin-bottom: 5px;
    transition: all 0.3s;
}

.icon-circle i {
    font-size: 18px;
    color: #8B6508; /* Kalar Gold/Bronze */
}

.cat-name {
    font-size: 9px;
    font-weight: 800;
    color: #5D4037;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.icon-circle:active {
    transform: scale(0.9);
    background: #FFD700;
}
        
           
    </style>
